.toolbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.toolbar-search{

width:350px;

padding:11px 14px;

border:1px solid #ddd;

border-radius:8px;

outline:none;

}

.new-btn{

background:#0073ea;

color:white;

border:none;

padding:11px 18px;

border-radius:8px;

cursor:pointer;

font-weight:bold;

}

.new-btn:hover{

opacity:.9;

}